<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        body {
            background-image: url(/assets/images/404lg.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #464646;
        }

        @media only screen and (max-width: 767px) {
            body {
                background-image: url(/assets/images/404sm.jpg);
            }
        }
    </style>

</head>

<body>

</body>

</html>