<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <!-- <link href="/assets/style.css" rel=stylesheet> -->
    <style>
    @media screen and (min-width: 768px) {
        .modal-dialog {
          width: 700px; /* New width for default modal */
        }
        .modal-sm {
          width: 350px; /* New width for small modal */
        }
    }
    @media screen and (min-width: 992px) {
        .modal-lg {
          width: 950px; /* New width for large modal */
        }
    }
</style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: lightcoral;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>
            <button class="btn btn-light my-2 my-sm-0" data-toggle="modal" data-target="#updateStatusModal" id="seestatus">Update Status</button>
        </div>
    </nav>

    <!-- Update Status Modal -->
    <div class="modal fade" id="updateStatusModal" tabindex="-1" role="dialog"     aria-labelledby="exampleModalLabel"aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="My-container">
                    <table class="table table-striped my-3">
                    <thead style="background-color:lightcoral">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbodi">

                        
                    </tbody>
                    </table>
                    <div class="modal-footer">
                            <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="container jumbotron  mt-3" style="width:75%;">
        <h1 class="display-4">Update Readings</h1>
        <hr class="my-3">
        <div class="form-inline my-lg-0 p-1">
                <input class="form-control mr-sm-2"  id="email" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-info my-2 px-4 my-sm-0" id="search">Search</button>
        </div>
        <table class="table table-striped my-3">
            <thead style="background-color:lightcoral">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Oxygen(%)</th>
                    <th scope="col">Temperature(F)</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr>
                    <td>Thomas Shelby</td>
                    <td>
                        <input type="number" class="form-control"  id="oxygen1">
                    </td>
                    <td>
                        <input type="number" class="form-control"   id="temp1">
                    </td>
                 
                </tr>
               
            </tbody>
        </table>

        <div class="btn">
            <button id="update"class="btn btn-danger">Update</button>
            <button type="reset" class="btn btn-secondary ml-1">Clear</button>
        </div>
    </div>
    <script>
        var familymembers;
        
        $("#search").click(function () {
            let email = $("#email").val();
            if (email.length < 4) return;
            $.post("/api/admin/find", {
                email: email

            }, function (data, status) {
               if(typeof data=="object"){
                  $("#tbody").html("");
                  const email =data.email;
                 familymembers=data.familymembers;
                 
                  for(i in familymembers){
                       let tdata = $("#tbody").html();
                       let o="O"+i;
                       let data=`<tr><td>
                           ${familymembers[i]}</td>
                             <td>
                        <input type="number" class="form-control" id=${o} required>
                             </td>
                    <td>
                        <input type="number" class="form-control" id=${i} required>
                    </td></tr>`
                      
                    $("#tbody").html(`${tdata}${data}`);
                  }
                   
               }
               else{
                   alert("no");
               }
            });
            $("#update").click(function(){
                let readings =[]
                let isempty = false;
                for(i=0;i<familymembers.length;i++){
                    let o="O"+i;
                    let temp = $(`#${i}`).val();
                    let oxy = $(`#${o}`).val();
                    
                    if(temp.length<1 && oxy.length<1){
                        alert("some details is empty");
                        isempty=true;

                        break;


                    }
                    let getreadings = `{"temperature":${temp},"oxygen":${oxy}}`;
                    console.log(getreadings);
                    readings.push(getreadings);
                    

                }
                if(isempty) return;
                $.post("/api/admin/update",{
                    email:email,
                    dailyreport:readings
                },function(data,status){
                  alert(data)
                })


            })

        });
        $("#seestatus").click(function(){
            $.post("/api/admin/getcases",{},function(data,status){
                console.log(data)
                 $("#tbodi").html("");
                
                 for (i in data) {
                    let tdata = $("#tbodi").html();
                    let nameid = "n-"+i;
                    let pid = "p-"+i;
                    console.log(pid);
                
                    let id = String(data[i]._id);
                    console.log(id);
                    let datas = `<tr>
                            <td id=${nameid} value=${data[i]._id}>${data[i].name}</td>
                            <td>
                               ${data[i].address.dno}${data[i].address.street}<br>
                               ${data[i].area}
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id=${pid} >
                                    <label class="form-check-label" for="inlineRadio1">Positive</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" checked>
                                    <label class="form-check-label" for="inlineRadio2" >Negative</label>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-primary" onclick=update(${i}) id=b${i} value=${data[0]._id}>Update</button>
                            </td>
                        </tr>`
                    $("#tbodi").html(`${tdata}${datas}`)
                }
                
            });

        });

       function update(i){
          let b = "b"+i;
          let check = $(`#${b}`).val()
          console.log($(`#p-${i}`).is(":checked"));
          console.log(`#p-${i}`);
          let positive = false;

          if($(`#p-${i}`).is(":checked")){
            positive=true;
          }
            $.post("/api/admin/testreport", {
               _id: check,
               positive: positive
           },function(data,status){
               if(data=="true" || data == true){
                   alert("test report updated");
                    $("#close").click();
               }
               else{
                   alert(data);
               }
              
           })
         
           
          
       }


    </script>
    <script src=https://code.jquery.com/jquery-3.5.1.min.js></script>

</body>

</html>